.env
/customer-data-service/.vs
customer-data-service/.vs/customer-data-service/v17/.futdcache.v2
customer-data-service/.vs/customer-data-service/v17/.suo
customer-data-service/.vs/customer-data-service/v17/DocumentLayout.json
customer-data-service/.vs/ProjectEvaluation/customer-data-service.metadata.v8.bin
customer-data-service/.vs/ProjectEvaluation/customer-data-service.projects.v8.bin
/customer-data-service/.vs
customer-service/.vs/customer-service/FileContentIndex/10a4a9ad-d6d6-45f5-932b-183174ff7bb8.vsidx
customer-service/.vs/customer-service/FileContentIndex/90afdc29-bc5f-4f7c-aaa9-1445fc3ec7cc.vsidx
/customer-service/.vs/customer-service/FileContentIndex
